# RAILS

# Ignore bundler config.
budget_api/.bundle

# Ignore all logfiles and tempfiles.
budget_api/log/*
budget_api/tmp/*
!budget_api/log/.keep
!budget_api/tmp/.keep

budget-api/.byebug_history



# REACT

# Ignore node module dependencies
budget_app/node_modules

# Ignore production build
budget_app/build